<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/{id}/edit/(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error name</div>

    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error age</div>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</div>

    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <strong><label for="role">Role</label></strong>
    <select multiple class="custom-select w-100"
            size="2" id="role" name="role" required="required">
        <option
                th:each="role : ${roles}"
                th:text="${role.getName()}"
                th:value="${role.name}">
        </option>
    </select>

    <br/><br/>
    <input type="submit" value="Update user"/>
</form>

<br>

<form action="#" th:action="@{/admin}" method="get">
    <input type="submit" value="Back"/>
</form>
<br>

<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>